.form {
  min-height: 883px;
  background-image: url("../../assets/teddy.jpg");
  background-position: right;
  background-repeat: no-repeat;
  @include narrow-pc {
    opacity: .3;
  }
  @include tablet {
    opacity: .3;
  }
  @include phone {
    opacity: .3;
    background-image: url("../../assets/teddy_sm.jpg");
    background-size: cover;
    background-position: center;
  }
}