.form {
  position: relative;
  min-height: 883px;
  padding: 2.25rem 8.875rem 3.125rem;
  &:before {
    z-index: -2;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/teddy.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  &__step {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .progress {
    font-size: 1.5rem;
    font-weight: 300;
  }
  &__title {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 600;
    margin-top: 4.375rem;
  }
  &__group {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
  }
  &__label {
    font-size: 1.5rem;
    margin-left: 1.875rem;
  }
  &__radio {
    height: 40px;
    width: 40px;
    background: white;
    &--del {
      display: none;
    }
    &--checked {
      background: $theme-color;
    }
  }
  &__change {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    height: 80px;
    width: 180px;
    font-size: 1.5rem;
    margin-top: 9.875rem;
  }
  @include narrow-pc {
    &:before {
      opacity: .3;
    }
  }
  @include tablet {
    &:before {
      opacity: .3;
    };
  }
  @include phone {
    &:before {
      opacity: .3;
      background-image: url("../../assets/teddy_sm.jpg");
      background-position: center;
    }
  }
}