.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 883px;
  padding: 2.25rem 8.875rem 3.125rem;
  &:before {
    z-index: -2;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-image: url("../../assets/teddy.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  &__step {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .progress {
    font-size: 1.5rem;
    font-weight: 300;
  }
  &__title {
    font-size: 2.25rem;
    line-height: 3rem;
    font-weight: 600;
    &--step {
      margin-top: 4.375rem;
    }
  }
  &__group {
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
    gap: 1.875rem;
  }
  &__label {
    font-size: 1.5rem;
  }
  &__radio {
    height: 40px;
    width: 40px;
    background: white;
    flex-shrink: 0;
    &--del {
      display: none;
    }
    &--checked {
      background: $theme-color;
    }
  }
  &__select {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    height: 48px;
    width: 100%;
    padding: .5rem 0 .5rem 1.125rem;
    font-size: 1.5rem;
    background: none;
    border: 1px solid $base-color
  }
  &__list {
    position: absolute;
    bottom: -1rem;
    right: 0;
    line-height: 2rem;
    transform: translateY(100%);
    padding: 0.375rem 2.25rem;
    border: 1px solid $base-color;
  }
  &__option {
    font-size: 1.5rem;
  }
  &__change {
    display: flex;
    gap: 3.125rem;
    justify-self: flex-end;
    align-self: flex-start;
    margin-top: 3.125rem;

  }
  &__controls {
    height: 80px;
    width: 180px;
    font-size: 1.5rem;
  }
  @include narrow-pc {
    &:before {
      opacity: .3;
    }
  }
  @include tablet {
    &:before {
      opacity: .3;
    };
  }
  @include phone {
    padding: 3.125rem;
    &__title--step {
      text-align: center;
    }
    &:before {
      opacity: .3;
      background-image: url("../../assets/teddy_sm.jpg");
      background-position: center;
    }
    &__group--select {
      flex-direction: column;
    }
  }
  @include small {
    &__change {
      width: 100%;
      justify-content: space-between;
      gap: .5em;
    }
    &__controls {
      width: 100%;
      height: 15vw;
      max-width: 180px;
    }
    &__placeholder {
      font-size: 1rem;
    }
  }
}