.header {
  display: flex;
  height: 840px;
  padding: 0 8.875rem;
  justify-content: center;
  &__cover {
    position: relative;
    width: 50%;
  }
  &__img {
      position: absolute;
      z-index: -1;
      bottom: 0;
      right: 0
  }
  &__group {
    height: 350px;
    width: 674px;
    align-self: center;
  }
  &__toform, &__group, &__title, &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__title {
    letter-spacing: -1px;
    margin-bottom: 1.625rem;
    align-items: center;
    text-align: center;
  }
  &__buttons {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
  }
  @include narrow-pc {
    &__toform {
      width: 683px;
    }
  }
  @include mobile {
    &__toform::before {
      z-index: -1;
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      background-image: url("../../assets/cover.jpg");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
  }
  @include tablet {
      padding: 0;
    &__cover {
      display: none;
    }
  }
  @include phone {
    padding: 4em;
    &__cover {
      display: none;
    }
    &__group {
      width: auto;
    }
    &__buttons {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
