.login {
  max-width: 504px;
  margin: 3.375rem auto 2em;
  &, &__box, &__group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    margin-bottom: 3.75rem;
    &--logout {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    margin-bottom: 1.5rem;
  }
  &__box {
    justify-content: center;
    width: 100%;
    max-width: 386px;
    margin: 0 3.75rem 2.5rem;
    background: $light-color;
    padding: 2.5rem 1rem;
    gap: 1rem;
  }
  &__group {
    align-items: flex-start;
    max-width: 250px;
  }
  &__input:focus {
    padding-bottom: 0;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__btn {
    height: 50px;
    width: 117px;
    &--logout {
      margin-top: 2.25rem;
    }
  }
  &__error {
    height: .75rem;
    margin-top: 0.25rem;
    font-size: .75rem;
    color: red;
  }
  @include phone {
    padding: 0 1.812rem;
  }
}