.menu {
  padding: 2.3rem 8.875rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  &__login, &__main {
    display: flex;
    justify-content: flex-end;
  }
  &__login--button {
    padding: 0.625rem;
    margin-left: 0.625rem;
    font-size: 0.875rem;
    &:last-of-type {
      border: 1px solid $theme-color;
      font-size: 0.812rem;
    }
  }
  &__main--link {
    font-size: 1.125rem;
    padding: 0.625rem 1.25rem;
    margin-left: 1rem;
    &:first-of-type {
      border: 1px solid $base-color;
    }
    &:last-of-type {
      padding-right: 0;
    }
  }
}