@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300&family=Open+Sans:wght@300;400&display=swap');

$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;

body {
  font-family: $font-base;
  color: $base-color;
}

.font__header {
  font-size: 2.375rem;
  line-height: 3.437rem;
  text-align: center;
}

.font__subheader {
  font-size: 1.125rem;
}

.font__header--small {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 3rem 0 1.25rem;
  @include phone {
    text-align: center;
  }
}