@import "settings/reset";
@import "settings/colors";
@import "settings/fonts";
@import "settings/base";


@import "sections/menu";

.resttest {
  height: 1500px;
  width: 300px;
  background: #5E5322;
}